$button-background: $green-light;
$button-text:       $black ;

.button, .wp-block-button__link {
  padding: 17px 9px;
  border-radius: $base-radius;
  display: inline-block;
  color: $button-text;
  background: $button-background;
  font-size: 1.2rem;
  line-height: 1;
  border: 1px solid $button-background;
  transition: $transition-time;
  cursor: pointer;
  outline: 0;
  position: relative;
  border-radius: 40px;

  @include link-hover {
    background: transparent;
    border: 1px solid $brand;
    color: $brand;
  }
}

.button--small {
  font-size: 1rem;
  padding: 12px 16px;
}

.wp-block-buttons {
  margin-bottom: $spacing*2;
}

.btn-primary {
  vertical-align: middle;

  a {
    color: $white;
    background: $black;
    border-radius: 40px;
    padding: 1.5rem 2rem;
    display: block;
    color: $white;
  }
}

.button--black {
  color: $white;
  background: $grey-new;
  border-color: $grey-new;
  color: $white;

  &:hover {
    color: $white;
    border-color: $grey-new;
  }

  // Responsive font size for black buttons
  font-size: 1.2rem; // Default font size

  @media (max-width: 480px) {
    font-size: 1rem; // Even smaller font size for mobile
  }
}

// Black button on the comparison table
.comparison__grid a.button.button--black {
  margin: 0 1rem;
}