h1, h2, h3, h4, h5, h6, p {
  color: $heading-color;
  margin-bottom: $spacing*3;
}

h1 {
  font-family: $primary-font;
  font-size: 4rem;
  line-height: 1;

  @include max-screen(768px) {
    font-size: 3rem;
  }
}

h2 {
  font-family: $primary-font;
  font-size: 3rem;
  line-height: 1;

  @include max-screen(768px) {
    font-size: 2.4rem;
  }
}

h3 {
  font-family: $primary-font;
  font-size: 2.25rem;
  line-height: 1;

  @include max-screen(768px) {
    font-size: 1.75rem;
  }
}

h4 {
  font-family: $primary-font;
  font-size: 2rem;
  line-height: 1;

  @include max-screen(768px) {
    font-size: 1.5rem;
  }
}

h5 {
  font-family: $primary-font;
  font-size: 1.5rem;
  line-height: 1;

  @include max-screen(768px) {
    font-size: 1.2rem;
  }
}

h6{
  font-family: $primary-font;
  font-size: 1.5rem;
  line-height: 1;

  @include max-screen(768px) {
    font-size: 1.2rem;
  }
}

p, a, li, td {
  font-family: $primary-font;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;

  @include max-screen(768px) {
    font-size: 1.2rem;
  }
}