.comparison {

    &__title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 4rem;
    }

    table {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        table-layout: fixed;
    }

    tr {
        margin: 0;
        padding: 0;
    }

    th {
        padding: 1em 0;
        font-size: 2rem;
    }

    td {
        text-align: center;
        padding: 1em 0;
        margin: 0;
        border-bottom: 1px solid $black;
    }

    td:first-of-type {
        text-align: left;
        font-weight: bold;
    }

    td:nth-of-type(2),
    th:nth-of-type(2) {
        background: $green;
    }

    th:nth-of-type(2) {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    tr:last-of-type td:nth-of-type(2) {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    tr:last-of-type td {
        border-bottom: none;
    }
}