.comparison {

    // @include max-screen(767px) { 
    //     display: none;
    // }
    
    &__title {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 3rem;
    }

    table {
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 1.25rem;
        table-layout: fixed;
    }

    tr {
        margin: 0;
        padding: 0;
    }

    th {
        padding: 1em 0;
        font-size: 2rem;
    }

    td {
        text-align: center;
        padding: 1em 0;
        margin: 0;
        border-bottom: 1px solid $black;
    }

    td:first-of-type {
        text-align: left;
        font-weight: bold;
    }

    td:nth-of-type(2),
    th:nth-of-type(2) {
        background: $green;
    }

    th:nth-of-type(2) {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    tr:last-of-type td:nth-of-type(2) {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    tr:last-of-type td {
        border-bottom: none;
    }
}



// Mobile Styles (Not table)
.comparison {

    &__expand{ 
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: $black;
        }

        &:before {
            position: absolute;
            content: '';
            display: block;
            width: 2px;
            height: 24px;
            background: $black;
        }
    }

    &__grid {
        border-radius: 20px;
        overflow: hidden;
    }

    &__grid-mob {
        padding: 2rem 0;
        text-align: center;

        &:not(.open){
            border-bottom: 1px solid $black;
        }

        &.open {
            & .comparison__expand::before {
                display: none;
            }
        }

        &.open ul {
             display: initial;
        }

        &.beebu-table-el h3 {
            display: block;

            & span {
                display: none;
            }
        }

        & h3 {
            margin: 1rem 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            & span {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $green-light;
                padding: 10px 0;
                border-radius: 100px;
                height: 44px;
                width: auto;
                aspect-ratio: 1 / 1;
            }
        }

        & ul {
            display: none;

            & li {
                border-bottom: 1px solid $black;
                padding: 2rem;

                &:last-of-type {
                    margin-bottom: 2rem;
                }
            }
        }

        &:first-of-type {
            background-color: $green;
        }
    }
}