.content-slider {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-right: 18%;
  }

  & .meta {
    margin-bottom: 2rem;
  }

    
  & .slick-arrow {
    height: 40px;
    width: 40px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -5rem;
    background-color: $green-light;
    border-radius: 100px;
    opacity: 0.5;
    transition: opacity .5s ease;

    &:hover {
      opacity: 1;
    }

    &::before {
      color: $black;
      font-size: 20px;
    }
  }

  & .slick-next {
    right: 18%;
  }

  & .slick-prev {
    right: calc(18% + 60px);
    left: auto;
  }

  & .slick-list {
    padding: 0 30% 0 0 !important;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  & .slick-slide {
    margin-right: 2rem;

    & img {
      height: 250px;
      width: auto;
    }
  }

  &__content {
    background-color: white;
    display: flex;
    padding: 4rem 2rem;
    gap: 2em;
    border-radius: 30px;
    align-items: center;
  }

  &__meta {
    align-content: center;
  }

  &__title {
    color: $off-black!important;
  }

  &__copy {
    color: $off-black!important;
  }

  & .slider__description {
    width: 70%;
  }

}


@media screen and (min-width: 769px) {
  .wrapper--slider {
    padding-right: 0;
    margin-right: 0;
    max-width: fit-content;
    padding-left: 18%;
  }
}

@media screen and (max-width: 1200px) {
  .content-slider {

    &__content {
      flex-direction: column;
    }

  }

}


@media screen and (max-width: 768px) {

  .wrapper--slider {
    padding-right: 5%;
  }

  .content-slider {
    padding-bottom: 10rem;
    
    & .slick-list {
      padding: 0 !important;
    }

    & .slick-arrow {
      top: auto;
      bottom: -5rem;
      right: auto;
      left: 0;
    }

    & .slick-next {
      left: calc(5% + 60px);
      right: auto;
    }

    & .slick-prev {
      left: 5%;
    }

    & .slick-slide {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    & .slider__description {
      width: 100%;
    }

  }

}