
.body:not(.page-id-475) {
    & .ctacontainer {
        @include max-screen (768px) {
            padding-bottom: 0;
        }
    }
}

.cta {
    position: relative;
    padding: 7rem 3.5rem;
    border-radius: 1.5rem;
    background-size: cover;
    background-position: center;
    z-index: 999;

    &__mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background: linear-gradient(89.74deg, rgba(0, 0, 0, 0.8) 24.31%, rgba(0, 0, 0, 0) 82.32%);
        background: linear-gradient(89.74deg, rgba(0, 0, 0, 0.4) 24.31%, rgba(0, 0, 0, 0) 82.32%);
        border-radius: 1.5rem;
    }

    &__flourish {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 1.5rem;
        background-image: url('../img/cta-flourish.svg');
        background-repeat: no-repeat;
        background-position: right top;
    }

    &__inner {
        position: relative;
        z-index: 999;
    }

    &__title {
        max-width: 700px;
        color: $white;
        margin-bottom: 2rem;
        font-size: 3rem;
        
        @include max-screen(768px) {
          font-size: 2.4rem;
        }
    }
    
    &__copy {
        max-width: 500px;
        color: $white;
    }

    &__rule {
        border: 5px solid $white;
        margin: 0 0 2rem;
        max-width: 60%;
    }

    &--button {
        .cta__title {
            max-width: 70%;
        }
        .cta__copy {
            max-width: 60%;
            color: $white;
        }
    }
}

@media screen and (max-width: 768px) {
    .cta {
        padding: 7rem 1.5rem;

        & .postcode-search {
            display: flex;
            padding: 1rem;
        }

        & .postcode-search .postcode-search__input {
            text-align: center;
        }

        &--postcode {
            & .cta__flourish {
                display: none;
            }
        }
    }

    .cta--button .cta__title, 
    .cta--button .cta__copy {
        max-width: 100%;
    }
}