.featured-articles {
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }

    &__title {
        margin: 0;
        font-size: 4rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;
    }
}