.help {
    padding-bottom: 17rem;

    @include max-screen(768px) { 
        padding-bottom: 10rem;
    }

    &__inner {
        display: grid;
        grid-template-columns: 27fr 41fr;
        gap: 5rem;

        @include max-screen(767px) { 
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }

    &__title {
        font-size: 3rem;
    }

    &__questions {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    &__question-inner {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    &__expand {
        position: relative;
        background: $green-light;
        width: 44px;
        height: 44px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;
        aspect-ratio: 1 / 1;
        border: none;
        cursor: pointer;

        &:after {
            position: absolute;
            content: '';
            display: block;
            width: 24px;
            height: 2px;
            background: $black;
        }
    }

    &__question {
        background: $white;
        padding: 2rem 3rem;
        border-radius: 1.5rem;

        h5 {
            margin: 0;
            position: relative;
            line-height: 44px;
        }

        &.is-closed {
            .help {
                &__answer {
                    display: none;
                }

                &__expand {
                    &:before {
                        position: absolute;
                        content: '';
                        display: block;
                        width: 2px;
                        height: 24px;
                        background: $black;
                    }
                }
            }
        }
    }

    &__answer {
        margin: 2rem 0 0;
    }

    & .button {
        text-align: center;

        @include max-screen(768px) {
            margin-top: 3rem;
        }
    }
}