.hero {
    padding: 16em 0 12em;
    background-size: cover;
    background-position: center;

    &__inner {
        max-width: 700px;
    }

    &__title {
        color: $white;
    }

    &__copy {
        color: $white;
    }

    &__trustpilot {
        margin-top: 3rem;
        max-width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        img {
            max-height: 45px;
            width: auto;
        }

        span {
            color: $white;
            font-size: 20px;
        }

        @include max-screen(767px) { 
            flex-direction: column;
            gap: 1rem;
        }
    }
}
