.locations-map {
    margin-bottom: 6rem;
    background-image: url(../img/large-flourish.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;

    @include max-screen(1100px) {
        padding-top: 15rem;
        margin-bottom: 0;
        background-size: 70%;
    }

    & .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        @include max-screen(1100px) {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }

    &__locations {
        @include min-screen(769px) {
            z-index: 10;
        }
    }

    &__map {
        position: relative;
        width: 150%;
        right: 25%;

        @include max-screen(1660px) {
            width: 120%;
            right: 15%;
        }

        @include max-screen(1100px) {
            // left: -30%;
            left: 0;
            width: 100%;
        }

        & .area {
            width: 35px !important;
            height: auto;
            position: absolute;

            @include max-screen(1100px) {
                width: 30px !important;
            }

            &.map-hovered {
                z-index: 100;
            }
        }
    }

    & .map-accordion {
        background-color: $off-white;
        padding: 2rem;
        border-radius: 24px;

        &.open {

            & .map-accordion__header {
                margin-bottom: 1rem;
            }

            & svg line:first-of-type {
                opacity: 0;
            }
        }

        & h3 {
            font-size: 1.6rem;
            margin: 0;
        }

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: all .3s ease;
        }

        &__icon {
            background-color: $green;
            border-radius: 200px;
            height: 44px;
            width: 44px;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;

            & svg line:first-of-type {
                transition: opacity .3s ease;
            }
        }

        &:not(:last-of-type) {
            margin-bottom: 2rem;
        }

        &__inner {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 1rem 2rem;
            
            max-height: 0;
            overflow: hidden;
            transition: all .3s ease;

            @include max-screen(768px) {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    & .area-name {
        border-bottom: 4px solid $green;
        padding-bottom: 4px;
        width: fit-content;
        font-weight: 600;
        cursor: pointer;
        transition: all .3s ease;

        &:hover {
            border-color: $off-black;
        }
    }
}