.locations-map {
    margin-bottom: 6rem;
    background-image: url(../img/large-flourish.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;

    @include max-screen(1100px) {
        margin-top: 6rem;
        background-size: 70%;
    }

    & .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        @include max-screen(1100px) {
            grid-template-columns: 1fr;
            gap: 3rem;
        }
    }

    &__map {
        position: relative;
        width: 150%;
        left: -10%;

        @include max-screen(1100px) {
            left: -30%;
        }

        & .area {
            width: 50px !important;
            height: auto;
            position: absolute;

            @include max-screen(1100px) {
                width: 30px !important;
            }

            &.map-hovered {
                z-index: 100;
            }
        }
    }

    & .locations__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        width: 80%;

        @include max-screen(768px) {
            grid-template-columns: 1fr;
            width: 100%;
        }

        & .area-name {
            background-color: $off-white;
            border-bottom: 5px solid $green;
            padding: 1rem;
            font-weight: 600;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                background-color: $green;
                border-color: $off-black;
            }
        }
    }
}