.packages {
    padding-top: 0;
    
    &__inner {
        z-index: 999;
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        text-align: center;
        max-width: 460px;
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    &__grid {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5rem;

        @include max-screen(767px) { 
            grid-template-columns: 1fr;
            gap: 1rem;
        }
    }

    &__package {
        padding: 2rem;
        border-radius: 1.5rem;
        box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.08);
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-color: $white;

        &-eyebrow {
            background: $orange;
            padding: .5rem 1rem;
            border-radius: 2rem;
            align-self: flex-start;
        }

        &-speed {
            z-index: 10;
            margin-top: -5rem;
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.5rem;
        }

        &-small {
            font-size: 1.25rem;
            margin: 0;
            margin-top: 10px;
        }

        &-large {
            font-size: 3.75rem;
            // line-height: 1;
            font-weight: 600;
            margin: 0 0 -0.5rem;
            @media (min-width: 1024px) and (max-width: 1300px) { 
                font-size: 2.5rem;
                margin-top: 2rem;
            }
            @media (max-width: 767px) {
                font-size: 3.1rem;
            }
        }

        &-title {
            font-weight: 600;
            font-size: 40px;
            text-align: center;
            z-index: 10;
        }

        &-specs {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            z-index: 10;
        }

        &-spec {
            font-size: 1.25rem;
            text-align: center;
        }

        &-button {
            font-size: 1.2rem;
            font-weight: 700;
            width: 100%;
            text-align: center;
            display: block;
            margin: 1rem 0;

            & small {
                font-size: 0.75rem;
            }
            @media (max-width: 480px) {
                font-size: .9rem; // Adjust font size for mobile
            }
        }

        >span {
            margin-top: 0.5rem;
            text-align: center;
        }

    }

    .speedbox {
        margin-top: 1rem;
        margin-bottom: -150px;
        height: 300px;
        width: 300px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        -webkit-flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        position: relative;
        z-index: 5;
        
        &__groove {
          height: 150px;
          width: 300px;
          background: transparent;
          border-top-left-radius: 150px;
          border-top-right-radius: 150px;
          border: 40px solid #eee;
          border-bottom: 0;
          box-sizing: border-box;
          position: absolute;
          left: 0;
          top: 0;
        }
        &__score {
          position: absolute;
          left: 0;
          top: 0;
          transform: rotate(-45deg);
          height: 300px;
          width: 300px;
          background: transparent;
          border-radius: 50%;
          border: 40px solid #F6F4F2;
          border-color: transparent transparent #FF9100 #FF9100;
          box-sizing: border-box;
          cursor: pointer;
          z-index: 1;
          transition: transform .3s ease;
          
        }
        &__base {
          width: 340px;
          height: 150px;
          background: white;
          position: relative;
          top: 150px;
          z-index: 20;
          &:before {
            content: '';
            width: 240px;
            position: absolute;
            top: 0;
          }
        }
      }

}

@media screen and (max-width: 989px){

	.packages__grid {
		grid-template-columns: 1fr;
	}

}