.article-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    
    &__excerpt {
        flex-grow: 1;
        font-size: 1.25rem;
        margin: 0;
    }

    &__image {
        height: 260px;
        object-fit: cover;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
    }

    &__tag {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    &:hover {
        transform: scale(1.05);
        z-index: 999;
    }
}

.home .featured-articles__title {
    margin: 0 0 1rem;
}

// @media screen and (max-width: 768px){
// 	.home .article-card__excerpt {
// 		display: none;
// 	}
// }