.article-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    &__excerpt {
        flex-grow: 1;
        font-size: 1.25rem;
    }

    &__image {
        height: 320px;
        object-fit: cover;
        border-radius: 1.5rem;
        margin-bottom: 2rem;
    }
}