.category-list {
  padding: 1em;
  margin-left: auto;
  display: inline-block;
  margin: 2rem 0em;
  border: none;
  border-top: 5px solid;
  font-size: 1.3rem;
  font-weight: 600;
  background: none;
  cursor: pointer;
}