.footer {
  background-color: $grey-dark;
  width: 100%;
  padding: 8rem 0 2rem;
  color: $white;
  background-image: url('../img/footer-flourish.svg');
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: 10em;
  
  @include max-screen(767px) {
    background-position: right bottom;
  }

  p, h2, h3, h4, a {
    color: $white;
    margin: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 5rem;

    @include max-screen(767px) {
      grid-template-columns: 1fr;
    }
  }

  &__col {
    p, li, a {
      font-size: 1.25rem;
    }

    ul.menu li {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:first-of-type {
      p, li, a  {
        font-size: 1.125rem;
        line-height: 1.4;
      }
      ul {
        margin: 1rem 0 2rem;
        list-style: disc;
        padding: 0 0 0 2rem;
      }
      .footer__email {
        text-decoration: underline;
      }
    }
  }

  &__socials {
    margin: 2rem 0;
    display: flex;
    gap: 2rem;

    i {
      font-size: 2rem;
    }
  }

  &__trustpilot {
      margin: 5rem 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;

      img {
          max-height: 45px;
          width: auto;
      }

      span {
          color: $white;
          font-size: 20px;
      }

      @include max-screen(767px) {
        flex-direction: column;
      }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #707070;
    padding-top: 2rem;
    margin-top: 2rem;

    p {
      font-size: 1rem;
      margin: 0;
    }

    @include max-screen(767px) {
      gap: 1rem;
      flex-direction: column;
    }
  }
}