.grid-content {

  &__inner {

    &.center {
      text-align: center;
      display: block;

      .grid-content__description {
        padding-top: 2em;
        margin: auto;
        max-width: none;
      }
    }
  }
  
}