.dark-nav-text .header li.menu-item:not(:last-of-type) a {
  color: $off-black !important;
}

.header {
  position: relative;
  z-index: 10;
  padding: $spacing*2 0;
  margin-bottom: -109px;
  display: flex;
  align-items: flex-end;

  @include max-screen(767px) {
    margin-bottom: -174px;
    padding-top: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;


    // @include max-screen(767px) {
    //   flex-direction: column;
    //   align-items: center;
    //   gap: 1rem;
    // }
  }

  &__logo {
    display: block;
    width: 200px;
    z-index: 9999;
    transition: filter .3s ease;

    &.nav-open {
      filter: brightness(10);
    }
    
    @include flex-vertical-center;

    h2 {
      margin-bottom: 0;
    }
    a {
      display: block;
    }
  }

  &__menu {
    display: flex;
  }

  &__menu .menu-main-navigation-container ul#menu-main-navigation {
    display: flex;
    align-items: center;
  }

  &__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) {
    margin-right: 2rem;
  }

  &__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a {
    color: #ffffff;
  }

  &__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item a {
    color: #ffffff;
    font-size: 1.2rem;
  }

  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    .open-button {
      display: none;
      z-index: 99999;
      cursor: pointer;

      // @include max-screen($menu-mobile-breakpoint) {
      //   display: block;
      // }

      background: none;
      border: none;

      & span {
        display: block;
        height: 2px;
        width: 30px;
        background-color: $white;

        &.hamburger--dark {
          background-color: $off-black;
        }

        &:not(:last-of-type) {
          margin-bottom: 6px;
        }

      }
    }

    // .button {
    //   position: absolute;
    //   right: 0;
    //   top: 30px;

    //   @include max-screen($menu-mobile-breakpoint) {
    //     position: relative;
    //   }
    // }
  }
}

// NOTE FOR SAM
.single-roles .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.single-post .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.single-support .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.page-id-475 .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.page-id-356 .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.page-id-595 .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.page-id-3 .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.page-id-672 .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a,
.page-id-538 .header .header__menu .menu-main-navigation-container ul#menu-main-navigation li.menu-item:not(:last-of-type) a  {
  color: $off-black;
}

@media screen and (max-width: 1080px) {

  .header {
    
    & nav .open-button {
      display: block;

      & span {
        transition: all .5s;
      }

      &.nav-open {

        & span:nth-of-type(1) {
          transform: rotate(45deg) translateY(11px);
        }

        & span:nth-of-type(2) {
          transform: translateX(20px);
          opacity: 0;
        }

        & span:nth-of-type(3) {
          transform: rotate(-45deg) translateY(-11px);
        }
        
      }
    }

    &__menu {
        position: absolute;
        top: -20px;
        left: 110%;
        width: 110%;
        transition: all .5s ease;

        &.nav-open {
          left: -5%;
        }

      .menu-main-navigation-container {
        width: 100%;
        min-height: 100vh;
      }

      & ul {
        background-color: $green;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 100%;

        & li {
          margin-bottom: 2rem;
          margin-right: 0 !important;
        }
      }
      
    }
  }
}