.hero .postcode-search {
    @include max-screen(768px) {
        opacity: 0.8;
    }
}

.postcode-search {
    min-width: 600px;
    padding: 1rem 1rem 1rem 2rem;
    border: 1px solid $black;
    background: $white;
    display: inline-flex;
    border-radius: 3.5rem;


    @include max-screen(767px) { 
        min-width: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-radius: 2rem;
        padding: 0.7rem 1rem 1rem;
    }

    &__input {
        flex-grow: 1;
        border: none;
        font-size: 1.3rem;
        color: $black;

        &:focus {
            outline: none;
        }
    }
    &__button {
        padding: 1rem 2rem;
        background: $black;
        color: $white;
        border: none;
        border-radius: 2.5rem;
        // font-size: 1.5rem;
        cursor: pointer;
          // Responsive font size for black buttons
        font-size: 1.2rem; // Default font size

  @media (max-width: 480px) {
    font-size: 1rem; // Even smaller font size for mobile
  }
    }
}


@media screen and (max-width: 768px){
    .hero .postcode-search {
        width: 100%;
        position: relative;
        z-index: 9;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    &.postcode-search {
        &__input {
            padding: 5px 0;
            text-align: center;
        }

    }

}