.section {
    &--spaced {
        padding-top: 6rem;
        padding-bottom: 6rem;
        // padding-bottom: 12rem;

        @media screen and (max-width: 768px) {
          padding-top: 4rem;
          padding-bottom: 4rem;
        }
    }

    &--curved {
        position: relative;
        background: $white;

        &:before {
            position: absolute;
            width: 100%;
            height: 187px;
            background: url('../img/white-oval.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom center;
            top: -186px;
            content: '';
            z-index: 0;

            @media screen and (min-width: 1920px) {
              height: 13vw;
              background-size: cover !important;
            }
        }
    }

    &--green {
        background: $green;

        &.section--curved:before {
            background: url('../img/green-oval-new.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom center;
        }
    }

    &--dark {
      background: $grey-dark;

      & .grid-content__block h2, & .grid-content__block p {
        color: $black;
      }

      h2, p {
        color: $white;
      }

      &.section--curved:before {
        background: url('../img/grey-oval.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
      }
    }

    &--off-white {
      background: $off-white;

      &.section--curved:before {
        background: url('../img/off-white-oval.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
      }
    }
    
    &--grey {
        background: $grey-dark;

        &.section--curved:before {
            background: url('../img/grey-oval.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom center;
        }
    }
}

// Doesn't work with gauges
@media screen and (min-width: 1920px){

  .hero {
    position: relative;
  }

  .footer.section--curved {
    margin-top: 20em;;
  }
  .footer.section--curved::before {
    top: calc(-13vw + 1px);
  }
}